{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}La carte de "{{ detailPizzeria.nom }}" {% endblock %}

{% block body %}
    <p>Marge de la pizzeria : {{ detailPizzeria.marge }}</p>
    <table>
        <thead>
            <tr>
                <td>Pizza</td>
                <td>Prix</td>
            </tr>
        </thead>
        <tbody>
            {% for pizzas in detailPizzeria.pizzas %}
                <tr>
                    <td>{{ pizzas.nom }}</td>
                    <td>... €</td>
                </tr>

            {% else %}
                <tr>
                    <td>Désolé, nous n'avons pas de pizzas disponible pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
