{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}la pizza {{ detailPizza.nom }}{% endblock %}

{% block body %}
    <p>Prix de fabrication : {{ (total)|number_format(2, '.', ' ') }} € </p>

    <p>Ingrédients :
        {% for ing in detailPizza.quantiteIngredients %}
            {{ ing.ingredient.nom }},
        {% endfor %}
    </p>
{% endblock %}