{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{% endblock %}

{% block body %}
    {% for detail in detailPizza %}
        <p>Boucle</p>

    {% else %}
        <p>Ne rentre pas dans la boucle</p>
    {% endfor %}
{% endblock %}