{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}la pizza {{ detailPizza.nom }}{% endblock %}

{% block body %}
    <p>Prix de fabrication = (qte en kg * cout au kg) + (qte en kg * cout au kg) + ... </p>

    <p>
        {% for ing in detailPizza.quantiteIngredients %}
            {{ ing.ingredient.cout }} * {{ ing.quantite }} +
        {% endfor %}
    </p>

    <p>Ingrédients :
        {% for ing in detailPizza.quantiteIngredients %}
            {{ ing.ingredient.nom }},
        {% endfor %}
    </p>
{% endblock %}